$white: #FFF;
$gray: rgb(207, 207, 207);
$search-button-color: #ea2e2e;
$body-color: #f0f0f0;
$black: #242323;
$red: rgb(219, 41, 41);
$border-product-box: 3px;
$font-size-for-screen-1024px: 13px;
$logo: '../../images/logo.png';
$anhdomobile-logo: '../../images/images/anhdomobile-logo.png';
