/* You can add global styles to this file, and also import other style files */
@import "helpers/includes";

a {
  &:hover {
    cursor: pointer;
  }
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background: $body-color;
}
